*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    background-color: #00aaff;
    display: flex;
    justify-content: center;
    align-items: center;

}
main{
  /*  background-color: rgb(125, 31, 239);*/
}
img{
  height:275px;
  display: block;
  margin: 0 auto;
}
h1{
  color: rgb(206, 206, 206);
  font-size:40px;
  text-align: center;
  background-color: #236;
}
h2{
  color: rgb(176, 176, 176);
  text-align:center;
  background-color: #236 
}
h4{
  text-align:center;
  color:green;
}










